# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Android
android/.gradle
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase
.firebase/
.firebaserc

# Node (Cloud Functions)
functions/node_modules/
functions/lib/

# Env & Secrets
.env
*.keystore
google-services.json
GoogleService-Info.plist

# Coverage
coverage/
